
.container {
    position: relative;
  }
  
  .content {
    margin-right: 600px;
    margin-bottom: 0;
    margin-top: 150px;
  }
  
  .bitcoin-image {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-40%); 
    max-width: 50%; 
  }
  
  .crypto-button {
    position: absolute;
  top: 25px;
  width: 300px;
}




  .crypto-menu table {
    width: 98%;
    height: 20px;
  }
  

  .crypto-menu {
    max-height: 450px; 
    overflow-y: auto; 
  }
  
  
  .crypto-menu td {
    width: 20%; 
    padding: 8px; 
    text-align: center; 
  }

  input[type="number"] {
    width: 100px; 
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
 

 
  .crypto-menu img {
    height: 40px;
    margin-left: 75px;
  }
  
  .crypto-menu input[type="checkbox"] {
    /* Increase the size of the checkboxes */
    width: 20px;
    height: 20px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    color: #4caf50; 
  }
  
  
  input[type="number"][value^="-"]::-webkit-inner-spin-button,
  input[type="number"][value^="-"]::-webkit-outer-spin-button {
    color: #f44336; 
  }